*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    text-align: center;
    background: #333;
    font-size: 1.1em;
    line-height: 1.5;
}
.Section1{
    
    min-height: 450px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Section1-BG{
    position: absolute;
    background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    min-width: 700px ;
    opacity: 0.4;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: -1;
}
.Section1-Header h1{
    padding-top: 100px;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    
}
.Section1-Content{
    font-size: 1em;
    text-align: center;
    padding: 1em 0;
    max-width: 827.219px;
}
.Section1-Button{
    margin: 1.5em 0;
    display: inline-block;
}
.Section1-Button a{
    margin: 0.5em 0;
    padding: 1em 2em;
    background: #333;
    border: 1px solid #666;
    color: #fff;
    text-decoration: none;
}
.Section1-Button a:hover{
    background-color: #fff;
    color:#333;
}
.Section2{
    color:#333;
    text-align: center;
    background: #eaeaea;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Section2>h2{
    font-size: 1.5em;
    padding: 1em 0;
}
.Section2-Content{
    columns: 2;
    column-gap: 02em;
    max-width: 827.22px;
    font-size: 1em;
}
.Section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:2em 1em 1em;
}
.Section3-Box{
    max-width: 272.8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
}
.Section3-Box img{
    width: 100%;
    height: auto;
    padding-bottom: 1.5em;
}
.Section3-Box h3{
    font-size: 1.17em;
    padding: 1.17em 0;
    color: #333;
}
.Section3-Box p{
    padding: 1em 1.5em 2.5em;
    color: #333;
    font-size: 1em;
}
.Section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding:2em;
}
.Section4 h2{
    font-size: 1.5em;
    color: #333;
    padding:1em 0;
}
.Section4 p{
    color: #333;
    padding: 1em 0;
    max-width: 880px;
}
.Section5{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
}
.Section5 h3{
    font-size: 1.5em;
    padding: 1em 0;
}
.Section5-Box1{
    padding: 2em;
    background-color: #2690d4;
}
.Section5 p{
    padding:1em 0;
}
.Section5-Box2{
    padding: 2em;
    text-align: center;
}
.Section6{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
    padding: 2em;
    background-color: black;
}
.Section6 a{
    color: #2690D4;
    text-decoration: none;
}